:root {
    --colorFondoSec: #212121;
    --colorFondo: #202020;
    --colorInput: #9E9E9E;
    --colorNav: #484848;
    --colorCirculoImg: #A0A0A0;
    --colorDorado: #F0BC13;
    --colorBlanco: #FFF;
    --colorNegro: #000;
}

html {
    height: auto;
}

body {
    color: var(--colorBlanco);
    background: var(--colorFondo);
}

img {
    max-width: 200px;
}

#logoPelis {
    padding: 3%;
}

nav {
    background: var(--colorNav);
}

.sidenav {
    background-color: var(--colorFondo) !important;
    width: 350px !important;
}

.sidenav li>a {
    color: var(--colorBlanco) !important;
}

#mobile-menu .material-icons {
    color: var(--colorBlanco) !important;
}

.liWrapper {
    margin-top: 15%;
}

#ajustesWrapper {
    position: relative;
    margin: 0 10% 0 10%;
}

#ajustesWrapper>p {
    text-align: center;
}

.btnWrapper {
    margin-top: 15%;
    text-align: center;
}

.btnWrapper>button {
    background-color: var(--colorInput) !important;
}

.formHeader {
    font-size: 11pt !important;
    font-weight: 100 !important;
    color: var(--colorInput) !important;
    box-sizing: border-box !important;
    padding: 0 12% 0 12% !important;
}

p.formHeader {
    color: var(--colorDorado) !important;
}

#checkboxSesion {
    margin-top: 12%;
    text-align: center;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid var(--colorDorado) !important;
    background-color: var(--colorDorado) !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
    border-right: 2px solid var(--colorFondo) !important;
    border-bottom: 2px solid var(--colorFondo) !important;
}

.headerFormWrapper {
    font-size: 12pt !important;
    font-weight: 400 !important;
}

#profImgWrapper {
    text-align: center;
}

#profImg {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 180px;
    border: 5px solid var(--colorCirculoImg);
}

#profImg>img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input {
    color: var(--colorDorado) !important;
    border-bottom: 1px solid var(--colorInput) !important;
}

input:focus {
    border-bottom: 1px solid var(--colorDorado) !important;
    box-shadow: 0 1px 0 0 var(--colorDorado) !important
}

#webContainer {
    /* margin: 0 18%; */
    width: 70%;
    margin: 0 auto 0 auto;
}

.modalContent {
    background: var(--colorFondo);
}

.cuadriculaPeliculas {
    padding-left: 0.5%;
}

.imagenCaratula {
    max-height: 300px;
    /* max-width: 250px; */
    border-radius: 5px;
}

.caratulaPelicula {
    /* padding: 1% 1% 1% 1%; */
    padding: 1%;
    display: inline-block;
}

.fondoModal {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.pModalClass {
    font-size: 16pt !important;
    text-shadow: 2px 2px 10px var(--colorNegro) !important;
}

.imgValoracion,
.infoValoracion {
    text-align: center;
}

.estrellasValoracion {
    max-width: 150px;
}

h4 {
    text-shadow: 2px 2px 10px var(--colorNegro) !important;
    color: var(--colorBlanco);
}

.aAjustes {
    margin-left: 8%;
}

.aAjustes:hover {
    background-color: var(--colorFondo) !important;
}

#darBajaWrapper {
    height: 50%;
}

#darseBaja {
    font-size: 12pt !important;
    font-weight: 500 !important;
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: #FF5D5D !important;
}

.perfilTextIcon {
    font-size: 12pt !important;
    font-weight: 300 !important;
    color: var(--colorInput) !important;
}

.perfilTextIcon>i {
    color: var(--colorInput) !important;
    margin-right: 2% !important;
}

.headerPeli {
    display: flex;
}

.headerPeli p {
    padding: 5%;
}

.wrapperTituloAnio {
    display: flex;
}

.wrapperTituloAnio span {
    margin: 0 0 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    font-size: 1.2em;
}

.wrapperInfoBtn {
    text-align: right !important;
}

.infoPeli {
    display: flex;
    margin: 1% auto 1% auto;
}

.infoPeli div {
    padding: 0 1% 0 1%;
    display: flex;
}

.infoPeli span {
    display: inline-flex;
    justify-content: center;
    font-size: 1.2em;
}

.infoPeli i {
    font-size: 1.2em !important;
    line-height: 1.2em !important;
}

.btnVerMas {
    background-color: var(--colorFondoSec) !important;
    color: var(--colorBlanco) !important;
    margin: 0 25px 25px 0;
}

#mobile-demo {
    color: var(--colorBlanco) !important;
}

.tituloWrapperPeliculas {
    display: inline-flex;
}

.tituloWrapperPeliculas>a {
    color: var(--colorBlanco);
    display: inline-flex;
    margin-top: 32px;
    margin-left: 15px;
    transition-property: margin-left;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.tituloWrapperPeliculas>a:hover {
    color: var(--colorBlanco);
    display: inline-flex;
    margin-top: 32px;

    margin-left: 20px;
}

.page-footer {
    background-color: var(--colorFondoSec) !important;
    text-align: center;
    font-weight: 600 !important;
}

.headerFichaPeli {
    height: 500px;
    margin: 2% 0 0 0;
    display: flex;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 5px;
}

.fichaTituloAnio {
    text-align: center;
}

.fichaTituloAnio span {
    margin: 0 0 0 2%;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 1.2em;
}

.infoFichaPeli {
    display: flex;
    margin: 1% auto 1% auto;
    text-align: center;
}

.infoFichaPeli div {
    padding: 0 1% 0 1%;
    display: inline-flex;
    justify-content: center;
    font-size: 1.2em;
}

.infoFichaPeli i {
    font-size: 1.2em !important;
    line-height: 1.2em !important;
}

.input-field select {
    width: 10% !important;
}

.infoFichaPelicula {
    margin-top: 5px;
    font-size: 1.2em;
}

.btnTrailer {
    background-color: var(--colorNav) !important;
    color: var(--colorNegro) !important;
    margin: 0 25px 25px 0;
}

.select-wrapper input.select-dropdown {
    width: 25% !important;
    text-align: center !important;
    display: inline-flex !important;
    background-color: var(--colorFondo);
}

.dropdown-content li>span {
    background-color: var(--colorFondo) !important;
    color: var(--colorDorado) !important;
}

.userActionBtn,
.select-wrapper div {
    text-align: center !important;
}

.userActionBtn button {
    margin: 0 auto;
}

#modalTrailer .modal {
    width: 90% !important;
    height: auto !important;
    overflow: hidden !important;
}

.trailer {
    background-color: var(--colorFondo) !important;
}


.trailer iframe {
    width: 100%;
    min-height: 500px;
}

.select-wrapper .caret {
    display: none !important;
}

#btnFavorito i,
#btnComprar i,
#btnMostrarTrailer i {
    color: var(--colorBlanco);
}

.infoFichaPelicula p,
.textoPeli p {
    font-style: italic;
    font-size: 12pt;
    text-shadow: 2px 2px 10px var(--colorNegro) !important;
}

.infoFichaPelicula p span,
.textoPeli p span {
    font-style: normal;
    font-weight: bold;
    font-size: 12pt;
    text-shadow: 2px 2px 10px var(--colorNegro) !important;
}

.pInfoPelicula {
    font-size: 16pt !important;
    font-style: normal !important;
    text-shadow: 2px 2px 10px var(--colorNegro) !important;
}

.caratulaFicha {
    margin: 2% 0 0 2%;
    max-height: 300px;
    border-radius: 5px;
}